body {
    font-family: sans-serif;
}
main {
    width: 550px;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
}
main p:first-of-type {
	display: flex;s
	align-content: center;
	justify-content: space-around;
}
